altgraph==0.17.2
certifi==2022.12.7
charset-normalizer==2.1.0
colorama==0.4.5
future==0.18.3
idna==3.3
pefile==2021.9.3
Pillow==9.3.0
pillow-heif==0.6.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyproj==3.3.1
pywin32-ctypes==0.2.0
requests==2.28.1
tqdm==4.64.0
urllib3==1.26.11
protobuf==4.21.6
pycryptodome==3.15.0